.medium-editor-element {
  word-wrap: break-word;
  min-height: 30px; }
  .medium-editor-element img {
    max-width: 100%; }
  .medium-editor-element sub {
    vertical-align: sub; }
  .medium-editor-element sup {
    vertical-align: super; }

.medium-editor-hidden {
  display: none; }