---
layout: default
---

<div class="home">

  <div class="post-list-featured">
  {% for post in site.posts offset: 0 limit: 1 %}
    <a href="{{post.url}}">
      <div class="cover" style="background-image: url({{post.cover}})">
        <div class="overlay">
        </div>
      </div>
      <div class="details">
        <div class="title">
          {{post.title}}
        </div>
      </div>
    </a>
  {% endfor %}
  </div>
  <ul class="post-list">
    {% for post in site.posts offset: 1 %}
        <li>
          <a href="{{post.url}}">
            <div class="cover">
              <figure>
                <img src="{{post.cover}}">
              </figure>
              <div class="overlay">
              </div>
            </div>
            <div class="details">
              <div class="title">
                {{post.title}}
              </div>
            </div>
          </a>
        </li>
    {% endfor %}
  </ul>

</div>
