---
layout: default
---

<div class="home">

  <div class="post-list-featured">
  {% for post in site.posts offset: 0 limit: 1 %}
    <div class="cover">
      <figure>
        <!-- <img src="{{post.cover}}"> -->
      </figure>
      <div class="overlay">
      </div>
    </div>
    <div class="details">
      <div class="title">
        {{post.title}}
      </div>
    </div>
  {% endfor %}
  </div>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
